In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
flights = pd.read_csv(r"D:\SQL\data\flights_cleaned - flights_cleaned.csv")
flights.shape

(10683, 9)

In [4]:
flights.head()

,airline,date_of_journey,source,destination,route,dep_time,duration,total_stops,price
0,Jet Airways,03-01-2019,Banglore,New Delhi,BLR → BOM → DEL,11:40,785,1 stop,26890
1,SpiceJet,03-01-2019,Banglore,New Delhi,BLR → HYD → DEL,15:35,485,1 stop,7744
2,Jet Airways,03-01-2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,740,1 stop,27992
3,Air India,03-01-2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,2345,2 stops,17135
4,Jet Airways,03-01-2019,Banglore,New Delhi,BLR → BOM → DEL,11:40,1425,1 stop,25735

In [5]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10683 non-null  object
 1   date_of_journey  10683 non-null  object
 2   source           10683 non-null  object
 3   destination      10683 non-null  object
 4   route            10682 non-null  object
 5   dep_time         10683 non-null  object
 6   duration         10683 non-null  int64
 7   total_stops      10682 non-null  object
 8   price            10683 non-null  int64
dtypes: int64(2), object(7)
memory usage: 751.3+ KB

In [8]:
flights.isnull().sum()

airline            0
date_of_journey    0
source             0
destination        0
route              1
dep_time           0
duration           0
total_stops        1
price              0
dtype: int64